html{
  background-color: #222222;
  color: beige;
}
.App {
  text-align: center;
}

#links{
    text-align: left;
    padding: 0 10%;
}

input {
  padding: 10px 50px;
  width: 15%;
  background: None;
  color: beige;
  font-size: 100%;
  border: 2px solid orange;
}

button {
  padding: 10px 30px;
  background: None;
  border: 2px solid orange;
  text-transform: uppercase;
  color: orange;
  font-size: 100%;
  letter-spacing: 4px;
  cursor: pointer;
}

button:hover{
  color: #222222;
  background: orange;
}

#copy{
  position:fixed;
  bottom: 10px;
  right: 10px;
}
